<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<title>Sid's Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="normalize.css" />
		<link rel='stylesheet' href='style.css'>
	</head>
	<body>
		<header>
			<h1>IDE</h1>
		</header>
    <% const sortedPosts = posts.map(x => x.frontmatter).sort((a, b) => b.date - a.date); %>

    <div class="latest">
      <div class="main-post">
					<img src='<%= sortedPosts[0].cover %>' alt='<%= sortedPosts[0].title %>' class='cover'>
					<div class='meta'>
						<p class="date">
							<%= new Date(sortedPosts[0].date).toLocaleString(undefined, {
								year: 'numeric',
								weekday: 'long',
								month: 'long',
								day: 'numeric',
							}) %>
						</p>
						<h2><a href='/<%= sortedPosts[0].slug %>'><%= sortedPosts[0].title %></a></h2>
						<p><%= sortedPosts[0].cta %></p>
					</div>
      </div>
    </div>

		<div class='columns'>
			<% for (const post of sortedPosts.slice(1, 7)) { %>
				<div class='post'>
					<img src='<%= post.cover %>' alt='<%= post.title %>' class='cover'>
					<div class='meta'>
						<p class="date">
							<%= new Date(post.date).toLocaleString(undefined, {
								year: 'numeric',
								weekday: 'long',
								month: 'long',
								day: 'numeric',
							}) %>
						</p>
						<h2><a href='/<%= post.slug %>'><%= post.title %></a></h2>
						<p><%= post.cta %></p>
					</div>
				</div>
			<% } %>
		</div>

		<div class='subscribe'>
			<h2>Subscribe to my newsletter!</h2>
			<p>The latest updates from my blog, straight to your inbox. <br> 
				Plus extra goodies you won't get from this blog 👀</p>
			<div class='subs'>
				<input class='sub' type='email' placeholder='smart@guy.com'>
				<button class='sub' type='submit'>Subscribe</button>
			</div>
		</div>

		<div class='columns'>
			<% for (const post of sortedPosts.slice(7)) { %>
				<div class='post'>
					<img src='<%= post.cover %>' alt='<%= post.title %>' class='cover'>
					<div class='meta'>
						<p class="date">
							<%= new Date(post.date).toLocaleString(undefined, {
								year: 'numeric',
								weekday: 'long',
								month: 'long',
								day: 'numeric',
							}) %>
						</p>
						<h2><a href='/<%= post.slug %>'><%= post.title %></a></h2>
						<p><%= post.cta %></p>
					</div>
				</div>
			<% } %>
		</div>

		<footer>
			<p><span class="copyright">&copy;</span> <%= new Date().getFullYear() %> <a
					href='https://siddu.tech'>Sid</a>. All blog post writing is licensed
				<a href='https://creativecommons.org/licenses/by-sa/4.0/'>CC
					BY-SA 4.0</a>. All source code is released to the public domain.</p>
		</footer>
	</body>
</html>
