<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<title>Sid's Blog</title>

		<link rel='stylesheet' href='normalize.css'>
		<link rel='stylesheet' href='base.css'>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1><a href='/'>IDE</a></h1>
		</header>
		<% const sortedPosts = posts.sort((a, b) => b.date - a.date); %>

		<div class='columns'>
			<% for (const post of sortedPosts.slice(0, 4)) { %>
				<div class='post'>
					<img src='<%= post.cover %>' alt='<%= post.title %>' class='cover'>
					<div class='meta'>
						<h2><a href='/<%= post.slug %>'><%= post.title %></a></h2>
						<p><%= post.cta %></p>
						<p>Published on <span class='date'>
							<%= new Date(post.date).toLocaleString(undefined, {
								year: 'numeric',
								weekday: 'long',
								month: 'long',
								day: 'numeric',
							}) %>
						</span></p>
					</div>
				</div>
			<% } %>
		</div>

		<div class='subscribe'>
			<h2>Subscribe to my newsletter!</h2>
			<p>The latest updates from my blog, straight to your inbox. <br> 
				Plus extra goodies you won't get from this blog 👀</p>
			<div class='subs'>
				<input class='sub' type='email' placeholder='smart@guy.com'>
				<button class='sub' type='submit'>Subscribe</button>
			</div>
		</div>

		<div class='columns'>
			<% for (const post of sortedPosts.slice(4)) { %>
				<div class='post'>
					<img src='<%= post.cover %>' alt='<%= post.title %>' class='cover'>
					<div class='meta'>
						<h2><a href='/<%= post.slug %>'><%= post.title %></a></h2>
						<p><%= post.cta %></p>
						<p>Published on <span class='date'>
							<%= new Date(post.date).toLocaleString(undefined, {
								year: 'numeric',
								weekday: 'long',
								month: 'long',
								day: 'numeric',
							}) %>
						</span></p>
					</div>
				</div>
			<% } %>
		</div>

		<footer>
			<p>&copy; <%= new Date().getFullYear() %> <a
					href='https://siddu.tech'>Sid</a>. All blog post writing is licensed
				<a href='https://creativecommons.org/licenses/by-sa/4.0/'>CC
					BY-SA 4.0</a>. All source code is released to the public domain</p>
		</footer>
	</body>
</html>
